/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  color: #0d0d25;
  background: #f2f6f7;
  line-height: 2;
  caret-color: #ff8800;
}

h1, h2, .time {
  font-size: 4.8rem;
  font-family: "Domine", serif;
  font-weight: 700;
  line-height: 1.25;
}

h3 {
  color: #ff8800;
  font-size: 1.6rem;
}

.material-icons,
i {
  color: #ff8800;;
}

.material-icons.rating {
  color: #ffc107;
}

.border {
  font-size: 3rem;
  border: 1px solid #ff8800;
  border-radius: 50%;
  padding: 1rem;
}

.button {
  background: #ff8800;
  color: white;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #0d0d25;
}

.center-layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10rem 15rem;
}

/******************************************
/* LAYOUT
/*******************************************/
/* BACKGROUNDS*/
main {
  background: url(../assets/LWL_Homework_Diner/brooke-lark-08bOYnH_r_E-unsplash.jpg) no-repeat right top;
  background-size: cover;
  padding: 1rem 2.5rem 0 0;
}

.about-us {
  background: url(../assets/LWL_Homework_Diner/background-about-us.jpg) no-repeat left top;
  background-size: cover;
}

.book-table {
  background: linear-gradient(#f2f6f7, #b4d7ff, white);
}

/*Element Layout */
.header-links {
  margin-left: 50%;
  display: flex;
  align-items: center;
}

.header-link {
  flex: 1;
  text-align: center;
}

.header-link.icon {
  padding-top: 1rem;
}

.hero {
  padding: 10rem 72.5rem 10rem 10rem;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 5.8rem;
  flex: 5;
}

.hero form,
.hero div {
  flex: 1;
}

form {
  position: relative;
  margin: 2.5rem 0;
}

form .material-icons-outlined {
  font-size: 1.4rem;
  color: #bababa;
  position: absolute;
  left: 0;
  top: 1.15rem;
  left: 1rem
}

.hero-search,
.location-drop-down {
  line-height: 2.5;
  border-radius: 4px;
}
.hero-search {
  border: 1px solid #bababa;
  border-right: 0;
  width: 80%;
  padding-left: 3rem;
}

.location-drop-down {
  line-height: 3.1;
  border-left: 0;
  width: 20%;
  position: absolute;
  right: 0.3rem;
  text-align: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.location-drop-down::after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border: 4px solid transparent;
  border-top-color: white;
  margin-left: 1rem;
}

.hero-search::placeholder {
  color: #bababa;
}

.social-links {
  display: flex;
}

.social-links a {
  padding-right: 5rem;
}

.social links i {
  padding-right: 1rem;
}

.social-links * {
  font-size: 1.6rem;
}

.about-us {
  display: flex;
  flex-direction: column;
  padding: 10rem 20rem 10rem 52.5rem;
}

.about-us p {
  margin-top: 2.5rem;
}

.about-us p:last-of-type {
  margin-bottom: 2.5rem;
}

.about-us div * {
  font-size: 1.2rem;
  border-radius: 4px;
}

.about-us div a {
  padding: 1rem;
  display: flex;
  width: 13rem;
}

.about-us .material-icons {
  margin-left: 1rem;
  padding-top: 0.6rem;
}

.order-online {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10rem;
}

.menus-by-meal {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.menu-by-meal a{
  border-bottom: 1px solid #bababa;
  padding: 1rem 2.5rem;
} 

.menu-by-meal a:hover {
  color: #ff8800;
  border-color: #ff8800;
}

.menu-item-images {
  display: flex;
  margin: 0 10rem;
}

.menu-item-images a {
  flex: 1 1;
  margin: 1.5rem;
}

.menu-item-images figure {
  position: relative;
}

.menu-item-images img {
  width: 100%;
  height: 280px;
  overflow: hidden;
  object-fit: cover;
}

.menu-item-images figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 25%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-in;
}

.menu-item-images figure:hover figcaption {
  visibility: visible;
  opacity: 1;
}

.price,
.item-name {
  font-family: "Domine", serif;
  font-size: 2rem;
  color: white;
}

.price {
  font-weight: bold;
}

.menu-item-images .button {
  align-self: center;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}

address * {
  display: block;
}

address {
  margin-top: 5rem;
}

address .material-icons {
  margin-bottom: 1.5rem;
}

.phone-number {
  font-family: "Domine", serif;
  font-size: 3rem;
  color: #ff8800;
  font-weight: bold;
  line-height: 1;
}

.open-hours {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-top: 1.5rem;
}

.open-hours div {
  display: flex;
  flex-direction: column;
}

.open-hours div * {
  display: block;
}

.time {
  font-size: 2rem;
  font-weight: bold;
}

.slideshow {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.slideshow figure {
  display: flex;
  max-height: 50rem;
  position: relative;
}

.slideshow img{
  width: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  overflow: hidden;
}

.slideshow figure .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
}

.slideshow div {
  align-self: center;
  padding-left: 2.5rem;
}

.slideshow div .material-icons {
  font-size: 2.4rem;
  padding: 0.5rem;
  margin-right: -10rem;
}

.testimonials {
  background: white;
  position: relative;
}

.testimonials figcaption * {
  display: block;
}

.customer-name {
  font-size: 2.4rem;
  line-height: 1;
}

.customer-occupation {
  color: #bababa;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.testimonial {
  z-index: 5;
}

.quote {
  z-index: 1;
  font-size: 15rem;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.quote i {
  color: rgb(241, 241, 241);
}

blockquote {
  font-size: 1.6rem;
  font-style: italic;
}

.dots {
  padding: 4rem 0;
}

.dot {
  height: 7.5px;
  width: 7.5px;
  background-color: rgba(255, 136, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  margin: 0 1rem;
}

.dot:nth-of-type(3) {
  height: 15px;
  width: 15px;
  background-color: #ff8800;
  margin-bottom: -0.35rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
