/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font: 62.5% "Trebuchet MS", sans-serif;
  background: white;
  color: #161f2a;
  margin: 0;
}

body a {
  color: #161f2a;
}

main {
  background: #66768a;
  color: #f1f1f1;
}

main a {
  color: #f1f1f1;
}

.offset {
  background: #dbdfe2;
}

.button {
  border: 1px solid #161f2a;
  padding: 0.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

footer {
  background: #161f2a;
  color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
main section{
  padding: 5% 5%;
}

header {
  width: 100%;
  position: relative;
  padding: 1% 2%;
}

nav {
  width: 100%;
  float: left;
}

nav li,
nav img,
nav > a {
  float: left;
  width: 6.6666%;
  padding: 1%;
  font-size: 125%;
}

nav > a {
  float: right;
}

nav img {
  margin-left: 35%;
  width: 3%;
  padding: 0;
}

main section {
  text-align: center;
}

h1 {
  font-size: 600%;
}

main p {
  font-size: 175%;
  padding: 2% 10%;
}

main section a {
  font-size: 150%;
} 

body > section {
  float: left;
  width: 100%;
  padding: 10% 30%;
  text-align: center;
}

body > section h2,
body > section h4 {
  font-size: 250%;
  font-weight: bold;
  padding-bottom: 2%;
}

body > section p {
  font-size: 130%;
  line-height: 1.25;
  font-weight: normal;
}

.offset {
  padding: 5% 10%;
}

.offset > section {
  float: left;
  width: 48%;
  margin: 0 1%
}

.offset div {
  height: 100px;
  width: 40%;
  background: #66768a;
  margin: 0 0 2% 30%;
}

h3 {
  font-size: 150%;
  font-weight: bold;
  padding: 3.2% 0;
}

.offset p {
  margin-bottom: 6.5%;
  font-size: 125%;
}

body > section:nth-of-type(3) p {
  margin-bottom: 6.5%;
}

footer {
  float: left;
  width: 100%;
  padding: 1% 2%;
}

.foot-nav {
  float: left;
  width: 10%;
}

.icons li {
  float: left;
  width: 32%;
  padding: 1%;
}

.icons a{
  float: left;
  width: 32%;
  padding: 1%;
  font-size: 175%;
  color: white;
  text-align: center;
}

footer nav h6 {
  float: left;
  width: 100%;
  color: #66768a;
  font-size: 125%;
  font-weight: bold;
  margin-top: 5%;
}

footer nav li {
  float: left;
  width: 45%;
  padding: 5% 5% 5% 0;
}

.adjust {
  width: 38%;
}

footer nav li a {
  font-size: 100%;
  color: white;
}

.contact-info {
  float: right;
  width: 10%;
  line-height: 1.25;
  margin-right: 1%;
}

.contact-info a {
  color: white;
}

.contact-info h5 {
  font-weight: bold;
  font-size: 145%;
  margin: 3% 0 5% 0;
}

.contact-info p {
  font-size: 120%;
  margin-bottom: 1%;
}

.contact-info a {
  font-size: 120%;
  font-weight: bold;
}

.trademark {
  float: left;
  width: 100%;
  border-top: 1px solid white;
  margin-top: 1.5%;
}

.trademark p {
  float: left;
  margin-top: 1%;
  font-size: 125%;
  font-weight: bold;
}

.trademark img {
  float: right;
  width: 2.25%;
  margin-top: 0.25%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav .button {
  color: #66768a;
  background: white;
  border-color: white;
  border-radius: 4px;
  width: 4rem;
  margin-top: 0.5%;
  margin-right: 1%;
}

body > section .button {
  width: 100%;
  text-align: center;
  padding: 2.5% 5%;
  font-size: 125%;
}

.button.small {
  padding: 2.5% 8.05%;
}

.button.large {
  padding: 2.5% 4.8%;
}